# configuration file for Compile AHK
CClose.ahk.ini

# configuration file for Actual Installer
CClose.aip

# compiled executable and installer package
*.exe

# batch file for code signing
Sign File.bat

dev/
portable/
x86/CClose.ahk
