# configuration file for Compile AHK
Close It.ahk.ini

# compiled executable
Close It.exe

# configuration file for Actual Installer
Close It.aip

# installer package
Close It Setup.exe

# batch file for code signing
Sign File.bat

dev/
portable/
